// General
$transitionDuration: 300ms !default;
$transitionTiming: cubic-bezier(.35,0,.25,1);

// Typography
$font-family-base: 'Poppins', sans-serif !default;
$font-size-base: .875rem !default;
$font-weight-base: 400 !default;
